<ion-header [translucent]="true" class="main-header">
  <ion-toolbar>
    <ion-title>Carte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Carte des photos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div style="padding: 16px; text-align: center; opacity: 0.7;">
    <ion-icon name="map" size="large" style="font-size: 48px; margin-bottom: 16px;"></ion-icon>
    <p>Fonctionnalité carte en cours de développement...</p>
  </div>

</ion-content>
