<ion-header [translucent]="true" class="main-header" [class.debug-active]="isDebugMode()">
  <ion-toolbar>
    <ion-title (click)="onTitleClick()" [class.debug-active]="isDebugMode()">Galerie</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSelectionMode()" class="header-btn" [color]="galleryService.selectionMode ? 'danger' : 'primary'">
        <ion-icon [name]="galleryService.selectionMode ? 'checkmark' : 'menu'" size="large"></ion-icon>
      </ion-button>
      <ion-button color="danger" [disabled]="!galleryService.selectionMode || !hasSelectedPhotos()" (click)="deleteSelected()" class="header-btn">
        <ion-icon name="trash" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <app-photo-grid
    [photos]="photoService.photos"
    [selectionMode]="galleryService.selectionMode"
    [selectedFilepaths]="galleryService.selectedFilepaths"
    [likedFilepaths]="photoService.getLikedFilepaths()"
    (photoClick)="openViewer($event)"
    (photoLongPress)="enterSelectionMode($event)"
    (toggleSelect)="toggleSelect($event)"
    (toggleLike)="toggleLike($event.filepath, $event.event)">
  </app-photo-grid>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addPhotoToGallery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <app-photo-viewer
    [isOpen]="viewerService.viewerOpen"
    [currentIndex]="viewerService.currentIndex"
    [photos]="photoService.photos"
    [viewerControlsVisible]="viewerService.viewerControlsVisible"
    [swipeOffset]="viewerService.swipeOffset"
    [swipeTransition]="viewerService.swipeTransition"
    [verticalOffset]="viewerService.verticalOffset"
    [verticalTransition]="viewerService.verticalTransition"
    [metadataVisible]="viewerService.metadataVisible"
    [metadataOffset]="viewerService.metadataOffset"
    [metadataTransition]="viewerService.metadataTransition"
    [likedFilepaths]="photoService.getLikedFilepaths()"
    (close)="closeViewer()"
    (nextPhoto)="nextPhoto()"
    (prevPhoto)="prevPhoto()"
    (canSwipeLeft)="canSwipeLeft()"
    (canSwipeRight)="canSwipeRight()"
    (viewerClick)="onViewerClick($event)"
    (touchStart)="onTouchStart($event)"
    (touchMove)="onTouchMove($event)"
    (touchEnd)="onTouchEnd($event)"
    (metadataTouchStart)="onMetadataTouchStart($event)"
    (metadataTouchMove)="onMetadataTouchMove($event)"
    (metadataTouchEnd)="onMetadataTouchEnd($event)"
    (toggleLike)="toggleLike($event)"
    (deleteCurrent)="deleteCurrentPhoto()">
  </app-photo-viewer>
</ion-content>